.loading {
    width: 100vw;
    height: 100vh;
    background: white;
    /* -- Alert -- grid certer item */
    display: grid;
    place-items: center;
    max-width: 100%;
}

/* -- Alert Create loader */
.loading>div {
    width: 10vmax;
    height: 10vmax;
    /* background-color: #618264;; */
    border-bottom: 5px solid rgb(110, 110, 110);
    border-radius: 50%;
    animation: loadingRotate 800ms linear infinite;
}

@keyframes loadingRotate {
    to {
        transform: rotate(-360deg);
    }
}